#  Experience APIs
mobile_api:
  build: ./experience/mobile-api/
  container_name: mobile-api
  env_file: './env'
  ports:
    - 10001:20001

# Process APIs
location:
  build: ./process/location/
  container_name: location
  env_file: './env'
  ports:
    - 10002:20002

# System APIs
stores:
  build: ./system/stores
  container_name: stores
  env_file: './env'
  ports:
    - 10003:20003

# Storages & other infra
stores_db:
  image: mongo:3.2.7
  volumes_from:
    - stores_db__data_volume
  ports:
    - 11000:27017

stores_db__data_volume:
  image: mongo:3.2.7
  volumes:
    - /data/db
  command: /bin/true

find:
  image: sebastianbogado/find
  ports:
    - 11001:8003
